<body>

<style>
    body, html {
        margin: 0;
        font-family: Helvetica;
        font-size: 10px;
    }
    
    .main-grid {
        position: relative;
        width: 800px;
        height: 600px;
        margin-bottom: 1em;
        background-image: url('world-map.png');
        background-size: 100%;
        float: left;
    }
    
    .gridblock {
        float: left;
        width: 198px;
        height: 148px;
        border: 1px dashed gray;
    }
    .red {
        background-color: rgba(255,0,0,.4);
    }
    .green {
        background-color: rgba(0,255,0,.4);
    }
    .blue {
        background-color: rgba(0,0,255,.4);
    }
    .yellow {
        background-color: rgba(255,255,0,.4);
    }
    
    .red-army,
    .blue-army,
    .green-army,
    .yellow-army {
        width: 50px;
        height: 50px;
        position: relative;
        float: left;
        background-image: url(Rood.png);
        background-size: cover;
        background-position: center center;
    }
    .red-army:after,
    .blue-army:after,
    .green-army:after,
    .yellow-army:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: rgba(255,0,0,.3);
    }
    .green-army {
        background-image: url(Groen.png);
    }
    .blue-army {
        background-image: url(Blauw.png);
    }
    .yellow-army {
        background-image: url(Geel.png);
    }
    
    .green-army:after {
        background-color: rgba(0,255,0,.3);
    }
    .blue-army:after {
        background-color: rgba(0,0,255,.3);
    }
    .yellow-army:after {
        background-color: rgba(255,255,0,.3);
    }
    
    .border-toggle,
    .spawn-wall {
        float: right;
        clear: right;
        border-radius: 12px; 
        background-color: gray;
        cursor: pointer;
        color: white;
        padding: .6em;
        user-select: none;
    }
    .game-text {
        clear: both;
        margin: 1em auto;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    .store {
        clear: right;
        margin-top: 1em;
        font-size: 1.5em;
    }
    .store h1 {
        text-align: center;
    }
    .store table tbody td {
        border-bottom: 1px solid #ccc;
        padding: .4em;
    }
</style>
<div class="main-grid">
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
    <div class="gridblock"></div>
</div>
<div draggable="true" class="red-army"></div>
<div draggable="true" class="blue-army"></div>
<div draggable="true" class="green-army"></div>
<div draggable="true" class="yellow-army"></div>

<div class="border-toggle">Toggle lijnen</div>
<div class="spawn-wall">Bouw muur (H)</div>
<div class="spawn-wall spawn-wall-v">Bouw muur (V)</div>

<div class="store">
    <h1>Ye olde store</h1>
    <table>
        <tbody>
            <tr>
                <td>Muur</td>
                <td>5g</td>
            </tr>
            <tr>
                <td>Kanon</td>
                <td>3g</td>
            </tr>
            <tr>
                <td>+1d6 bij Battles</td>
                <td>3g</td>
            </tr>
            <tr>
                <td>+2d6 bij Battles</td>
                <td>5g</td>
            </tr>
            <tr>
                <td>Scroll of Teleport</td>
                <td>8g</td>
            </tr>
            <tr>
                <td>Potion of Mountainwalking</td>
                <td>4g</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="game-text" contenteditable="">Ronde 1/6: Minigames</div>
<!--Minigame, Overworld-->

<script>
    var grid = document.querySelectorAll('.gridblock'),
        redArmy = document.querySelector('.red-army'),
        blueArmy = document.querySelector('.blue-army'),
        greenArmy = document.querySelector('.green-army'),
        yellowArmy = document.querySelector('.yellow-army'),
        borderToggle = document.querySelector('.border-toggle'),
        wallSpawnH = document.querySelector('.spawn-wall'),
        wallSpawnV = document.querySelector('.spawn-wall-v');
    
    function rotateColor(element) {
        if(element.getAttribute('class') === 'gridblock red') {
            element.setAttribute('class', 'gridblock green');
            return;
        }
        if(element.getAttribute('class') === 'gridblock green') {
            element.setAttribute('class', 'gridblock blue');
            return;
        }
        if(element.getAttribute('class') === 'gridblock blue') {
            element.setAttribute('class', 'gridblock yellow');
            return;
        }
        if(element.getAttribute('class') === 'gridblock yellow') {
            element.setAttribute('class', 'gridblock red');
            return;
        }
        else {
            element.setAttribute('class', 'gridblock red');
        }
        return;
    }
    
    for(var i=0;i<grid.length;i++) {
        grid[i].addEventListener('click', function(e) {
            rotateColor(e.target);
        });
    }
    
    function setPosition(e) {
        this.style.position = "absolute";
        this.style.top = e.clientY - 50 + "px";
        this.style.left = e.clientX + "px";
    }
    redArmy.addEventListener('dragend', setPosition);
    blueArmy.addEventListener('dragend', setPosition);
    greenArmy.addEventListener('dragend', setPosition);
    yellowArmy.addEventListener('dragend', setPosition);

    borderToggle.addEventListener('click', function(e) {
        for(var i=0;i<grid.length;i++) {
            grid[i].style.borderColor = grid[i].style.borderColor == 'transparent' ? 'gray' : 'transparent';
        }
    });
    
    function spawnWall(kind) {
        var wall = document.createElement('img');
        wall.src = "wall-"+kind+".png";
        wall.setAttribute('draggable', 'true');
        wall.addEventListener('dragend', setPosition);
        document.body.appendChild(wall);
    };
    
    wallSpawnH.addEventListener('click', function() {
        spawnWall('h');
    });
    wallSpawnV.addEventListener('click', function() {
        spawnWall('v');
    });
    
//    document.write(window.innerWidth);
//    document.write(window.innerHeight);
</script>

</body>